
<form #f="ngForm" (ngSubmit)="pesquisaPokemons(f)">
    <input type="text" [(ngModel)]="id" name="id" required>
    <button type="submit"></button>
</form>

<table>
    <tr>
        <th>#</th>
        <th>Nome</th>
    </tr>
    <h5>{{pokeinfo?.forms[0]?.name}}</h5>
    <button type="submit" (click)="adcionarPokemon(f)">
            <i class="fa fa-times"></i>
        </button>
    <tr *ngFor="let p of pokeinfo?.moves">
        <th>{{p.move.name}}</th>
            <td>{{p.move.url}}</td>
            
        </tr>
</table>
<table>
    <tr>
        <th>#</th>
        <th>Nome</th>
    </tr>
    <tr *ngFor="let ad of adcpoke">
        <th>{{ad?.id}}</th>
            <td>{{ad.forms[0]?.name}}</td>
            <td>{{ad.abilities[0]?.ability?.name}}</td>
                <table>
                    <th>Abilidades</th>
                    <td *ngFor="let ab of abilities">{{ab?.abilities[0]}}</td>
                </table>
            <td>{{ad.size}}</td>
            <button class="btn-simple" title="Remover" ata-original-title="Remove" (click)="removerPokemon()">
                <i class="fa fa-times"></i>
            </button>
        </tr>
</table>

